/* *********
css for footballer
************ */

body{
    font-family: 'Poppins' sans-serif;
    background: #FFFFFF;
    
}

/* ******
web style**** */
.web{
    position: relative;
    left: 100px;
    top: 0px;
    width: 1440px;
    
}

/* ******
header file style
************ */
.header{
    display: flex;
    width: 1440px;
    height: 677px;
    position: absolute;
    left:0px;
    top: 0px;
    background: #2D25A0;
}


.p-copa{
    position: absolute;
     left: 156px;
     top: 207px;
    width: 487px;
    height: 320px;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 80px;
    color: #FFFFFF;
    margin: 0;
}
.copa span a{
    text-decoration: none;
    width: 168px;
    height: 44px;
    position: absolute;
    left: 156px;
    top: 400px;
    padding: 10px 24px;
    background: #E02C6D;
    text-align: center;
}
.h-banner{
     position: absolute;
     left: 715.01px;
     top: 135px;
     width: 388px;
     height: 428px;
     transform: matrix(1, 0, 0, 1, 0, 0);
}
.h-banner img{
    width: 556px;
    height: 438px;
    left: 766px;
    top: 125px;
}

/* *********
 main part style 
 ********/
.players{
    position: absolute;
    top: 680px;
    left: 100px;
    margin-top: 50px;
    height: 1440px;
    width: 1220px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.player{
    padding: 15px;
    width: 330px;
    height: 404px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    margin-bottom: 15px;
}
.player img{
    width: 300px;
    height: 256px;
    position: static;
}

/* ********
footer style
********* */
.football img{
    position: absolute;
    top: 3200px;
    left: 500px;
    width: 350px;
    height: 120px;
}
.social-icon{
    position: absolute;
    top: 3500px;
    left: 600px;
    align-items: center;
}
.icon{
    margin-left: 15px;
}
.icon 
i{
    color: darkgray;
    background-color: lightgray;
    margin-right: 10px;
    padding: 5px;
    border-radius: 50%;  
}

i:hover {
    transform: rotate(180deg);
    width: 20px;
    height: 20px;
    transition-duration: 2s;
}